rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      // 認証なしの読み書きを許可（実験用）
      allow read, write;
    }
  }
}